html,
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-image: url('/style/background.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: sans-serif;
    width: 100%;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
}


.container {
    width: 60%;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    padding: 30px;
}

.columns {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /* выравнивание по верху */
    gap: 20px;
    /* расстояние между колонками */
}

.column {
    flex: 1;
    /* одинаковая ширина */
    min-width: 0;
    /* важно для корректного переноса и overflow */
}

h1,
h2 {
    color: #ffffff;
    font-family: "Tektur", sans-serif;
    display: block;
}

h1 {
    font-size: 80px;
    margin-top: 20px;
    margin-bottom: 0px;
}

h2 {
    font-size: 35px;
    margin-bottom: 10px;

}

form {
    margin: auto;
    width: 100%;
}


textarea,
pre {
    background: #f5f5f5;

    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    /* растягиваем на всю колонку */
    box-sizing: border-box;
    /* учитываем padding и border */
    overflow-x: auto;
    overflow-y: auto;
    scroll-behavior: smooth;
    /* горизонтальная прокрутка */
    white-space: pre;
    /* сохраняем все пробелы и переносы */
    margin-bottom: 15px;
    /* отступ снизу */
}

textarea {
    resize: none;
    min-height: 120px;
    /* можно подстроить */
    max-height: 120px;
    height: 120px;
}

pre {
    min-height: 400px;
    /* можно подстроить */
    max-height: 400px;
    height: 400px;
}

button {
    font-size: 20px;
    font-family: "Nunito", sans-serif;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    background-color: #ffffff;

}

/*-----------------------------------------*/

.form_radio_group {
    display: inline-block;
    overflow: hidden;
    font-size: 18px;

    font-family: "Nunito", sans-serif;
    margin-bottom: 10px;


}

.form_radio_group-item {
    display: inline-block;
    float: left;

}

.form_radio_group input[type=radio] {
    display: none;
}

.form_radio_group label {
    display: inline-block;
    cursor: pointer;
    padding: 0px 15px;
    line-height: 34px;
    border: 1px solid #ffffff;
    border-right: none;
    user-select: none;
    color: #ffffff;
}

.form_radio_group .form_radio_group-item:first-child label {
    border-radius: 6px 0 0 6px;
}

.form_radio_group .form_radio_group-item:last-child label {
    border-radius: 0 6px 6px 0;
    border-right: 1px solid #ffffff;
}

/* Checked */
.form_radio_group input[type=radio]:checked+label {
    background: #ffffff;
    color: #000000;
}

/* Hover */
.form_radio_group label:hover {
    color: #ff0000;
}

/* Disabled */
.form_radio_group input[type=radio]:disabled+label {
    background: #efefef;
    color: #666;
}